.hero_section{
position: relative;
background: url(../assests/images/nav_icon.png);
background-size: cover;
background-attachment: fixed;
padding-top: 170px;
padding-bottom: 90px;

}


/* home about  */

.about_section{
 /* padding-top: 40px; */
 padding-bottom: 300px;
 background: url("../assests/images/homepage/background1.png") no-repeat center center;

 width: 100%;

 margin-top: 80px;

}

.about_section.img{
    max-width: 100%;
    width: 50%;
}

.text{
    
    padding-bottom: 200px;
    margin-bottom: 130px;
}

.about_wrapper{
    background-color: brown;
}
