.hero_carousel{
   height: 100%; 
  max-height:700px;
  width: 99%;
 
  justify-content: center; 
    align-items: center;
 padding: 10px 10px;
  
}

.hero_section{
position: relative;
background: url(../assests/images/nav_icon.png);
background-size: cover;
background-attachment: fixed;
padding-top: 170px;
padding-bottom: 90px;
height: 1000px;
font-family: var(--oswald-font);
}

