

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald:wght@200..700&family=Playwrite+CU+Guides&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lilita+One&family=Oswald:wght@200..700&family=Playwrite+CU+Guides&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lilita+One&family=Oswald:wght@200..700&family=Playwrite+CU+Guides&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
common css */


*{
margin: 0;
padding: 0;
box-sizing: border-box;

}



/* root variable */

:root{

  /* font variable */

  --roboto-font:"Roboto", sans-serif;
  --lilita-font: "Lilita One", sans-serif;
  --oswald-font: "Oswald", sans-serif;


  /* color */

--light-black:#333



}

body,html{

  font-size: 14px;
  font-family: var(--roboto-font);
  font-weight: 300;
}

@media (max-width:992px){
body,html{
  font-size: 0.875rem;
}
}



/* headline */


h1,h2,h3,h4,h5,h6{
  font-family: var(--oswald-font);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
}

p{
  font-size: 16px;
}


/* achor tag */

a {
color: var(--light-black);
text-decoration: none;
-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out ;
-o-transition:  all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
}


/* custom scroolbar */


::-webkit-scrollbar{
  width: 5px;
}


::-webkit-scrollbar-track{
  background-color: #fff;
}




/* common button */

.order_now{
 color: var(--light-black);
 background-color:brown;
 border-color: brown;
 padding: 15px 38px;
 font-size: 18px;
 font-weight: 600;
 letter-spacing: 0.5px;
 font-family: var(--oswald-font);
 vertical-align: middle;
 text-transform: uppercase;
 /*transition: all 0.3s ease-in-out;*/

}

.order_now:hover,
.order_now:focus{
  color: black;
/*  background-color: transparent;*/
  border-color: brown;
}



.btn_red{
  color: #fff;
  background-color: red;
  border-color: red;
}

.btn_red:hover
.btn_red:focus{
  color:red;
  background-color: transparent;
  border-color: red;
}